<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../static/css/style.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <title>Document</title>
</head>
<body>
  <div class="menu-top container-fluid ">
    <div class="row">
      <div class="navbar-top d-flex p-1 justify-content-between">
        <div class="navbar-left ">
          <ul class=" d-flex">
            <li class="pe-5">
              <a href="">
                <i class="fa-solid fa-phone text-white"></i>
                <span class="text-white">0938.146.118</span>
              </a>
            </li>
            <li>
              <a href="">
                <i class="fa fa-location-dot text-white"></i>
                <span class="text-white"> địa chỉ:58 Phổ Quang, Phường 2, Quận Tân Bình, Tp. HCM</span>
              </a>
            </li>
          </ul>
        </div>
        <div class="navbar-right ">
          <ul class="d-flex">
            <li class="pe-4"><a href="" class="text-white">Đặt Tour</a></li>
            <li class="pe-4"><a href="" class="text-white">Liên Hệ</a></li>
            <li class="pe-3 border-start ps-3" ><a href=""><i class="fa fa-store text-white"></i></a></li>
            <li class="pe-3 border-start ps-3"><a href=""><i class="fa fa-magnifying-glass text-white"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
<div class="tg-nav">
  <div class="menu-logo d-flex justify-content-between">
    <img src="../static/images/logologo.png" alt="" style="width: 150px; padding: 10px; margin: 0 18px;">
    <div class="navbar-header pt-3 ">
      <ul class="d-flex">
        <li class="pe-3 fs-6 fw-normal text-black"><a href=""></a>TOUR NƯỚC NGOÀI</li>
        <li class="pe-3 fs-6 fw-normal text-black"><a href=""></a>DU LỊCH TỰ TÚC</li>
        <li class="pe-3 fs-6 fw-normal text-black"><a href=""></a>COMBO DU LỊCH</li>
        <li class="pe-3 fs-6 fw-normal text-black"><a href=""></a>GIỚI THIỆU</li>
        <li class="pe-3 fs-6 fw-normal text-black"><a href=""></a>TIN TỨC DU LỊCH</li>
      </ul>
    </div>
    <div class="navbar-signup-icon d-flex ">
      <ul class="d-flex pt-3">
        <li class="pe-2 "><a href=""><img src="../static/images/icons/facebook.png" alt="" width="30px"></a></li>
        <li class="pe-2"><a href=""><img src="../static/images/icons/twitter.png" alt="" width="30px"></a></li>
        <li class="pe-2"><a href=""><img src="../static/images/icons/instagram.png" alt="" width="30px"></a></li>
        <li class="pe-4"><a href=""><img src="../static/images/icons/youtube.png" alt="" width="30px"></a></li>
      </ul>
      <div class="nav-user p-3">
        <a href="" class="text-white fs-6 "><i class="fa-solid fa-user-group"></i> Dang Nhap</a>
      </div>
    </div>
  </div>
</div>
<div class="container">
    <div class="">
        <div class="text-content mt-2">
            <a href="">TRANG CHỦ</a>
            <a href="">ADENZ</a>        
        </div>
        <div class="text-list pt-3">
            <ul class="d-flex p-0">
                <li ><a href="">Du lich Viet Nam</a></li>
                <li class="ps-3"><a href="">Du lich Trung Quoc</a></li>
                <li class="ps-3"><a href="">Du lich Chau Au</a></li>
                <li class="ps-3"><a href="">Du lich Chau A</a></li>
            </ul>
        </div>
    </div>
	<div class="row">
	  <div class="col-md-8 col-sm-12 co-xs-12 gal-item">
		   <div class="row">
          <h1 class="fs-6"> Tin nỗi bật trong ngày</h1>
				  <div class="col-md-8 col-sm-6 co-xs-12 gal-item">
						<div class="">
						 <img src="../static/images/newspaper/ando1.jpg" class="img-ht img-fluid rounded">
              <h1 class="fs-6 pt-2">Taj Mahal, ngôi đền nổi tiếng nhất Ấn Độ có gì ấn tượng?</h1>
              <p>Taj Mahal là lăng mộ của Vua Shah Jahan, vị vua thứ 5 của Đế chế Mughal, người đã trị vì Ấn Độ trong 30 năm (1628 - 1658) và người vợ yêu dấu của ông, Hoàng hậu Mahal Mumtaz.</p>
						</div>
					</div>

          <div class="col-md-4 col-sm-6 co-xs-12 gal-item">
            <div class="col-md-12 col-sm-6 co-xs-12 gal-item">
                <div class="">
                 <img src="../static/images/newspaper/visa.jpg" class="img-ht img-fluid rounded">
                 <a class="fs-6 mt-2 fw-bold">48 Quốc Gia Không Yêu Cầu Visa Với Du Khách Việt</a>
                </div>
             </div>
         
            <div class="col-md-12 col-sm-6 co-xs-12 gal-item">
              <div class="">
              <img src="../static/images/newspaper/ghe.jpg" class="img-ht img-fluid rounded">
              <h1 class="fs-6 mt-2">Sự Thật Về 4 Hạng Ghế Phổ Biến Trên Máy Bay: Hạng Thương Gia Không Phải Là Cao Cấp Nhất Như Nhiều Người Nghĩ</h1>
                </div>
            </div>
          </div>
			</div>
	  
	    <div class="row">
				 <div class="col-md-6 col-sm-6 co-xs-12 gal-item">
				  <div class="box">
                      <h1 class="fs-6">Đi Huế một ngày, ăn gì và chụp ảnh ở đâu?</h1>
                      <div class="img-newspaper d-flex">
                          <img src="../static/images/newspaper/hue.jpg" class="img-ht img-fluid rounded" width="50%">
                        <span class="ms-3" style="font-size: 12px;">Kết thúc chuyến đi Huế trong một ngày, với Thảo, mọi thứ ở nơi đây đều để lại ấn tượng sâu sắc từ cảnh vật cho đến con người, món ăn...</span>
                      </div>
				</div>
				</div>

				<div class="col-md-6 col-sm-6 co-xs-12 gal-item">
				 <div class="box">
                     <h1 class="fs-6"> Mùa hè đã đến, hãy ghé thăm 10 hòn đảo tuyệt vời nhất Đông Nam Á</h1>
                     <div class="img-newspaper d-flex">
                         <img src="../static/images/newspaper/dna.jpg" class="img-ht img-fluid rounded" width="50%">
                       <span class="ms-3" style="font-size: 12px;">Đông Nam Á là nơi nổi tiếng với những hòn đảo và bãi biển đẹp tựa thiên đường với khung cảnh thiên nhiên thơ mộng...</span>
                     </div>
                </div>
				</div>
            </div>
      </div>

          <div class="col-md-4 col-sm-6 co-xs-12 gal-item">
                <h1 class="fs-6">Tin tức du lịch</h1>
                    <div class="col-md-12 col-sm-12 co-xs-12 gal-item h-20">
                     <div class="box">
                         <div class="img-newspaper d-flex">
                             <img src="../static/images/newspaper/ks1.jpg" class="img-ht img-fluid rounded" width="50%">
                           <span class="ms-3" style="font-size: 12px;">Kết thúc chuyến đi Huế trong một ngày, với Thảo, mọi thứ ở nơi đây đều để lại ấn tượng sâu sắc từ cảnh vật cho đến con người, món ăn...</span>
                         </div>
                   </div>
                   </div>
   
                   <div class="col-md-12 col-sm-4 co-xs-12 gal-item h-20 mt-2">
                    <div class="box">
                        <div class="img-newspaper d-flex">
                            <img src="../static/images/newspaper/ks2.jpg" class="img-ht img-fluid rounded" width="50%">
                          <span class="ms-3" style="font-size: 12px;">Kết thúc chuyến đi Huế trong một ngày, với Thảo, mọi thứ ở nơi đây đều để lại ấn tượng sâu sắc từ cảnh vật cho đến con người, món ăn...</span>
                        </div>
                  </div>
                  </div>
                  <div class="col-md-12 col-sm-4 co-xs-12 gal-item h-20 mt-2">
                    <div class="box">
                        <div class="img-newspaper d-flex">
                            <img src="../static/images/newspaper/ks3.jpg" class="img-ht img-fluid rounded" width="50%">
                          <span class="ms-3" style="font-size: 12px;">Kết thúc chuyến đi Huế trong một ngày, với Thảo, mọi thứ ở nơi đây đều để lại ấn tượng sâu sắc từ cảnh vật cho đến con người, món ăn...</span>
                        </div>
                  </div>
                  </div>
                  <div class="col-md-12 col-sm-4 co-xs-12 gal-item h-20 mt-2">
                    <div class="box">
                        <div class="img-newspaper d-flex">
                            <img src="../static/images/newspaper/ks4.jpg" class="img-ht img-fluid rounded" width="50%">
                          <span class="ms-3" style="font-size: 12px;">Kết thúc chuyến đi Huế trong một ngày, với Thảo, mọi thứ ở nơi đây đều để lại ấn tượng sâu sắc từ cảnh vật cho đến con người, món ăn...</span>
                        </div>
                  </div>
                  </div>
                
                  <div class="col-md-12 col-sm-12 co-xs-12 gal-item h-20">
                    <div class="box">
                        <div class="img-newspaper d-flex">
                            <img src="../static/images/newspaper/ks1.jpg" class="img-ht img-fluid rounded" width="50%">
                          <span class="ms-3" style="font-size: 12px;">Kết thúc chuyến đi Huế trong một ngày, với Thảo, mọi thứ ở nơi đây đều để lại ấn tượng sâu sắc từ cảnh vật cho đến con người, món ăn...</span>
                        </div>
                  </div>
                  </div>
  
                  <div class="col-md-12 col-sm-4 co-xs-12 gal-item h-20 mt-2">
                   <div class="box">
                       <div class="img-newspaper d-flex">
                           <img src="../static/images/newspaper/ks2.jpg" class="img-ht img-fluid rounded" width="50%">
                         <span class="ms-3" style="font-size: 12px;">Kết thúc chuyến đi Huế trong một ngày, với Thảo, mọi thứ ở nơi đây đều để lại ấn tượng sâu sắc từ cảnh vật cho đến con người, món ăn...</span>
                       </div>
                 </div>
                 </div>
                 <div class="col-md-12 col-sm-4 co-xs-12 gal-item h-20 mt-2">
                   <div class="box">
                       <div class="img-newspaper d-flex">
                           <img src="../static/images/newspaper/ks3.jpg" class="img-ht img-fluid rounded" width="50%">
                         <span class="ms-3" style="font-size: 12px;">Kết thúc chuyến đi Huế trong một ngày, với Thảo, mọi thứ ở nơi đây đều để lại ấn tượng sâu sắc từ cảnh vật cho đến con người, món ăn...</span>
                       </div>
                 </div>
                 </div>
                 <div class="col-md-12 col-sm-4 co-xs-12 gal-item h-20 mt-2">
                   <div class="box">
                       <div class="img-newspaper d-flex">
                           <img src="../static/images/newspaper/ks4.jpg" class="img-ht img-fluid rounded" width="50%">
                         <span class="ms-3" style="font-size: 12px;">Kết thúc chuyến đi Huế trong một ngày, với Thảo, mọi thứ ở nơi đây đều để lại ấn tượng sâu sắc từ cảnh vật cho đến con người, món ăn...</span>
                       </div>
                 </div>
                 </div>

         </div>
         </div>
</div>
<div class="container-slider pt-5">
    <div class="container">
        <h1 class="fs-5">Khách sạn ADENZ</h1>
        <div class="row pt-2">
            <div class="col-md-3 col-sm-6 co-xs-12 gal-item">
                <div class="box shadow-sm p-1 mb-2 bg-body rounded">
                    <div class="img-newspaper">
                        <img src="../static/images/newspaper/hot1.jpg" class="img-ht img-fluid rounded">
                        <h1 class="fs-6 mt-3">VinPearl mở khuyến mãi Mùa lễ hội 2021</h1>
                        <span class="" style="font-size: 12px;">Chuỗi khách sạn và resort đẳng cấp của Tập đoàn Vin Group đã sẵn sàng cho mùa lễ hội năm 2021 với những ưu đãi rất hấp ...</span>
                    </div>
              </div>
              </div>
              <div class="col-md-3 col-sm-6 co-xs-12 gal-item">
                <div class="box shadow-sm p-1 mb-2 bg-body rounded">
                    <div class="img-newspaper">
                        <img src="../static/images/newspaper/hot2.jpg" class="img-ht img-fluid rounded">
                        <h1 class="fs-6 mt-3">Khuyến mãi siêu rẻ từ chuỗi khách sạn VinPearl 5 sao</h1>
                        <span class="" style="font-size: 12px;">Để kích cầu du lịch sau khi ngăn chặn thành công Covid-19, chuỗi khách sạn VinPearl đẳng cấp 5 sao tung ra gói khuyến ...</span>
                    </div>
              </div>
              </div>
              <div class="col-md-3 col-sm-6 co-xs-12 gal-item">
                <div class="box shadow-sm p-1 mb-2 bg-body rounded">
                    <div class="img-newspaper">
                        <img src="../static/images/newspaper/hot3hot3.jpg" class="img-ht img-fluid rounded">
                        <h1 class="fs-6 mt-3">VinPearl mở khuyến mãi Mùa lễ hội 2021</h1>
                         <span class="" style="font-size: 12px;">Chuỗi khách sạn và resort đẳng cấp của Tập đoàn Vin Group đã sẵn sàng cho mùa lễ hội năm 2021 với những ưu đãi rất hấp ...</span>
                    </div>
              </div>
              </div>
              <div class="col-md-3 col-sm-6 co-xs-12 gal-item">
                <div class="box shadow-sm p-1 mb-2 bg-body rounded">
                    <div class="img-newspaper">
                        <img src="../static/images/newspaper/hot1.jpg" class="img-ht img-fluid rounded">
                        <h1 class="fs-6 mt-3">VinPearl mở khuyến mãi Mùa lễ hội 2021</h1>
                        <span class="" style="font-size: 12px;">Kết thúc chuyến đi Huế trong một ngày, với Thảo, mọi thứ ở nơi đây đều để lại ấn tượng sâu sắc từ cảnh vật cho đến con người, món ăn...</span>
                    </div>
              </div>
              </div>
        </div>
    </div>
</div>
<div class="container-newspaper">
<div class="container">
    <div class="row pt-2">
        <div class="col-md-8 col-sm-12 co-xs-12 gal-item">
            <div class="row">
                <div class="col-md-4 col-sm-6 co-xs-12 gal-item">
                    <a href="">Tin khuyễn mãi</a>
                    <div class="box shadow-sm p-1 mb-2 bg-body rounded">
                        <div class="img-newspaper bg-image hover-zoom">
                            <img src="../static/images/newspaper/dn.jpg" class="img-ht img-fluid rounded w-100">
                            <h1 class="fs-6 mt-3">THỜI ĐIỂM PHÙ HỢP ĐẾN VỚI BÀ NÀ HILL</h1>
                            <span class="" style="font-size: 12px;">THỜI ĐIỂM PHÙ HỢP ĐẾN VỚI BÀ NÀ HILL: Thời tiết Đà Nẵng với 2 mùa rõ rệt là mùa mưa và mùa khô, chính vì vậy Đà Nẵng phát triển du lịch quanh năm ngày tháng, du khách đến với Đà Nẵng thời điểm lý tưởng nhất</span>
                        </div>
                  </div>
                  </div>
                  <div class="col-md-4 col-sm-6 co-xs-12 gal-item">
                      <a href="">Tin tức du lịch</a>
                    <div class="box shadow-sm p-1 mb-2 bg-body rounded">
                        <div class="img-newspaper">
                            <img src="../static/images/newspaper/ncdl.jpg" class="img-ht img-fluid rounded">
                            <h1 class="fs-6 mt-3">Tết âm lịch này đi du lịch ở đâu vừa đẹp vừa rẻ?</h1>
                            <span class="" style="font-size: 12px;">Kỳ nghỉ tết âm lịch 2018 sẽ kéo dài từ 7 – 10 ngày, bạn vẫn có thể vừa tận hưởng không khí tết cùng gia đình tại nhà, vừa có thể cùng cả gia đình hoặc bạn bè tận hưởng thêm một chuyến</span>
                        </div>
                  </div>
                  </div>
                  <div class="col-md-4 col-sm-6 co-xs-12 gal-item">
                      <a href="">Cẩm nang du lịch</a>
                    <div class="box shadow-sm p-1 mb-2 bg-body rounded">
                        <div class="img-newspaper">
                            <img src="../static/images/newspaper/kra.png" class="img-ht img-fluid rounded">
                            <h1 class="fs-6 mt-3">Du lịch Hàn Quốc không cần chứng minh tài chính</h1>
                             <span class="" style="font-size: 12px;">Bạn yêu thích khung cảnh lãng mạn, những món ăn độc đáo, con người xứ Hàn. Bạn muốn đặt chân đến xứ sở kim chi một lần nhưng bạn đang băn</span>
                        </div>
                  </div>
                  </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-6 co-xs-12 gal-item">
                    <a href="">Du lịch bốn phương</a>
                    <div class="box shadow-sm p-1 mb-2 bg-body rounded">
                        <div class="img-newspaper">
                            <img src="../static/images/newspaper/kc.jpg" class="img-ht img-fluid rounded">
                            <h1 class="fs-6 mt-3">Những món ăn không thể bỏ qua khi đến với Hàn Quốc mùa tuyết rơi</h1>
                            <span class="" style="font-size: 12px;">Ẩm thực Hàn Quốc là kết hợp của sự độc đáo, tinh tế, tuy nhiên đôi lúc lại rất đơn thuần và bình dị. Một hành trình đến với xứ sở Kim Chi, nếu</span>
                        </div>
                  </div>
                  </div>
                  <div class="col-md-4 col-sm-6 co-xs-12 gal-item">
                      <a href="">Danh thắng năm châu</a>
                    <div class="box shadow-sm p-1 mb-2 bg-body rounded">
                        <div class="img-newspaper">
                            <img src="../static/images/newspaper/kt.jpg" class="img-ht img-fluid rounded">
                            <h1 class="fs-6 mt-3">Top 10 di sản UNESCO độc đáo nhất hành tinh</h1>
                            <span class="" style="font-size: 12px;">CNN vừa công bố danh sách những di sản UNESCO độc đáo, lạ lẫm nhất. Trong đó thành nhà Hồ của Việt Nam đứng ở vị trí đầu tiên.</span>
                        </div>
                  </div>
                  </div>
                  <div class="col-md-4 col-sm-6 co-xs-12 gal-item">
                      <a href=""> Trải nghiệm du lịch</a>
                    <div class="box shadow-sm p-1 mb-2 bg-body rounded">
                        <div class="img-newspaper">
                            <img src="../static/images/newspaper/hg.jpg" class="img-ht img-fluid rounded">
                            <h1 class="fs-6 mt-3">Khám phá Hà Giang - Mùa hoa tam giác mạch 3 ngày 2 đêm</h1>
                             <span class="" style="font-size: 12px;">Mùa tam giác mạch ở Hà Giang kéo dài từ đầu tháng 10 đến hết tháng 12. Bạn chỉ cần dành ra ba ngày là vừa đủ để đi hết những địa điểm du lịch hấp dẫn nhất ở Hà Giang.</span>
                        </div>
                  </div>
                  </div>
            </div>
        </div>
    </div>
</div>
</div>
<div class="container-newspaper-2">
    <div class="container">
        <div class="row pt-2">
            <div class="col-md-8 col-sm-12 co-xs-12 gal-item">
                <div class="row">
                    <div class="col-md-6 col-sm-6 co-xs-12 gal-item">
                        <a href="">TRẢI NGHIỆM DU LỊCH</a>
                        <div class="box shadow-sm p-1 mb-2 bg-body rounded">
                            <div class="img-newspaper">
                                <img src="../static/images/newspaper/hot1.jpg" class="img-ht img-fluid rounded">
                                <h1 class="fs-6 mt-3">VinPearl mở khuyến mãi Mùa lễ hội 2021</h1>
                                <span class="" style="font-size: 12px;">Chuỗi khách sạn và resort đẳng cấp của Tập đoàn Vin Group đã sẵn sàng cho mùa lễ hội năm 2021 với những ưu đãi rất hấp ...</span>
                            </div>
                      </div>
                      </div>
                      <div class="col-md-6 col-sm-6 co-xs-12 gal-item">
                          <a href="">TIN KHUYỄN MÃI</a>
                        <div class="box shadow-sm p-1 mb-2 bg-body rounded">
                            <div class="img-newspaper">
                                <img src="../static/images/newspaper/hot2.jpg" class="img-ht img-fluid rounded">
                                <h1 class="fs-6 mt-3">Khuyến mãi siêu rẻ từ chuỗi khách sạn VinPearl 5 sao</h1>
                                <span class="" style="font-size: 12px;">Để kích cầu du lịch sau khi ngăn chặn thành công Covid-19, chuỗi khách sạn VinPearl đẳng cấp 5 sao tung ra gói khuyến ...</span>
                            </div>
                      </div>
                      </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-sm-6 co-xs-12 gal-item">
                        <a href="">VĂN HÓA CÁC NƯỚC</a>
                        <div class="box shadow-sm p-1 mb-2 bg-body rounded">
                            <div class="img-newspaper">
                                <img src="../static/images/newspaper/hot1.jpg" class="img-ht img-fluid rounded">
                                <h1 class="fs-6 mt-3">VinPearl mở khuyến mãi Mùa lễ hội 2021</h1>
                                <span class="" style="font-size: 12px;">Chuỗi khách sạn và resort đẳng cấp của Tập đoàn Vin Group đã sẵn sàng cho mùa lễ hội năm 2021 với những ưu đãi rất hấp ...</span>
                            </div>
                      </div>
                      </div>
                      <div class="col-md-6 col-sm-6 co-xs-12 gal-item">
                          <a href="">LỄ HỘI BỐN PHƯƠNG</a>
                        <div class="box shadow-sm p-1 mb-2 bg-body rounded">
                            <div class="img-newspaper">
                                <img src="../static/images/newspaper/hot2.jpg" class="img-ht img-fluid rounded">
                                <h1 class="fs-6 mt-3">Khuyến mãi siêu rẻ từ chuỗi khách sạn VinPearl 5 sao</h1>
                                <span class="" style="font-size: 12px;">Để kích cầu du lịch sau khi ngăn chặn thành công Covid-19, chuỗi khách sạn VinPearl đẳng cấp 5 sao tung ra gói khuyến ...</span>
                            </div>
                      </div>
                      </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="foote">
  <div class="row">
    <div class="foote-tulte d-flex justify-content-around mt-4">
    <div class="foote-content">
      <h5 class="d-flex text-white"><p>Liên hệ với chúng tôi</p><i class="ps-2 fs-6">(Hỗ trợ 24/7)</i></h5>
        <ul class="p-0">
          <li class="text-white"><i class="fa-solid fa-phone pe-2"></i> Đặt vé máy bay: <a href="" class="text-warning">1900 0000</a></li>
          <li class="text-white"><i class="fa-solid fa-phone pe-2"></i> Đặt Tour du lịch: <a href="" class="text-warning">1900 0000</a></li>
          <li class="text-white"><i class="fa-solid fa-phone pe-2"></i>Tư vấn xin Visa: <a href="" class="text-warning">1900 0000</a></li>
          <li class="text-white"><i class="fa-solid fa-phone pe-2"></i>Tổng đài hỗ trợ gọi từ nước ngoài về Việt Nam</li>
          <li class="text-white"><i class="fa-solid fa-star pe-2"></i><a href="" class="text-warning">+8428 0000 0000</a></li>
        </ul>
    </div>
  <div class="foote-content">
        <h5 class="text-white">Về chúng tôi</h5>
        <ul class="p-0">
          <li ><a href="" class="text-white-50">Giới thiệu</a></li>
          <li ><a href="" class="text-white-50">Liên hệ</a></li>
          <li ><a href="" class="text-white-50">Truyền thông</a></li>
          <li ><a href="" class="text-white-50">Các đơn vị hợp tác</a></li>
          <li ><a href="" class="text-white-50">Chính sách bảo mật</a></li>
          <li ><a href="" class="text-white-50">Điều khoản sư dụng</a></li>
        </ul>
  </div>
  <div class="foote-content">
        <h5 class="text-white">Sản phẩm</h5>
        <ul class="p-0">
          <li><a href="" class="text-white-50">Vé máy bay</a></li>
          <li><a href="" class="text-white-50">Tour du lịch</a></li>
          <li><a href="" class="text-white-50">đặt khách sạn</a></li>
          <li><a href="" class="text-white-50">Combo tiết kiệm</a></li>
          <li><a href="" class="text-white-50">Visa</a></li>
          <li><a href="" class="text-white-50">Cách đặt chỗ</a></li>
        </ul>
  </div>
  <div class="foote-content">
        <h5 class="text-white">Khác</h5>
      <ul class="p-0">
        <li><a href="" class="text-white-50" class="text-white-50">Tuyển dụng</a></li>
        <li><a href="" class="text-white-50" class="text-white-50">Xem lại đơn hàng</a></li>
        <li><a href="" class="text-white-50" class="text-white-50">Hướng dẫn thanh toán</a></li>
        <li><a href="" class="text-white-50" class="text-white-50">Chăm sóc khách hàng</a></li>
        <li><a href="" class="text-white-50" class="text-white-50">Đăng ký nhận bản tin</a></li>
        <li><a href="" class="text-white-50" class="text-white-50">Đăng ký đối tác</a></li>
      </ul>
</div>
</div>

<div class="foote-city ">
<div class="container">
    <div class="row pt-1">
        <div class="col-md-12 col-sm-12 co-xs-12 gal-item">
            <div class="row">
                <div class="col-md-4 col-sm-6 co-xs-12 gal-item">
                  <div class="foote-img">
                    <img src="../static/images/logologo.png" alt="" width="50%">
                  </div>
                  </div>
                  <div class="col-md-3 col-sm-6 co-xs-12 gal-item">
                      <div class="foote-address ps-5">
                        <li class="text-white"><i class="fa-solid fa-location-dot pe-2"></i>Hồ Chí Minh</li>
                        <li class="mt-5 text-white"><i class="fa-solid fa-location-dot pe-2"></i>Đà Nẵng</li>
                        <li class="mt-1 text-white"><i class="fa-solid fa-location-dot pe-2"></i>Hà Nội</li>
                      </div>
                  </div>
                  <div class="col-md-5 col-sm-6 co-xs-12 gal-item">
                    <div class="foote-addres-city">
                      <li><i class="fa-solid fa-location-pin pe-2 text-white"></i><a href="" class="text-white-50"> 190 xxxx, Phường 6, Quận Go Vap, Tp. Hồ Chí Minh</a></li>
                      <li><i class="fa-solid fa-location-pin pe-2 text-white"></i><a href="" class="text-white-50"> 54 xxxx, Bến Thành, Quận 1, Tp. Hồ Chí Minh</a></li>
                      <li><i class="fa-solid fa-location-pin pe-2 text-white"></i><a href="" class="text-white-50">  164 xxxx, Phường Bến Thành, Quận 1, TP. Hồ Chí Minh</a></li>
                      <li><i class="fa-solid fa-location-pin pe-2 text-white"></i><a href="" class="text-white-50"> 174 xxxx, Quận Thanh Khê, TP. Đà Nẵng</a></li>
                      <li><i class="fa-solid fa-location-pin pe-2 text-white"></i><a href="" class="text-white-50"> 30 xxxxx, Quận Hoàn Kiếm, TP. Hà Nội</a></li>
                    </div>
                  </div>
            </div>
        </div>
    </div>
</div>
</div>
<div class="foote-app d-flex justify-content-around mt-2">
<h5 class="mt-2 text-white">Tải app AdenZ Travel </h5>
<div class="foote-app-city ">
  <img src="../static/images/icons/appstore.png" alt="" width="50%" class="pe-5">
  <img src="../static/images/icons/googleplay.png" alt="" width="38%">
</div>
<div class="foote-app-icons">
  <ul class="d-flex">
    <li class="pe-3 fs-3"><a href=""><i class="fa-brands fa-facebook-f text-white"></i></a></li>
    <li class="pe-3 fs-3"><a href=""><i class="fa-brands fa-instagram text-white" ></i></a></li>
    <li class="pe-2 fs-3"><a href=""><i class="fa-brands fa-twitter text-white"></i></a></li>
  </ul>
</div>
<div class="foote-app-bct">
  <img src="../static/images/icons/bocongthuong.png" alt="" class="text-black">
</div>
</div>  
</div>
</div>
<div class="foote-end text-center p-2">
  <p class="mt-3 text-white">© 2021 AdenZTravel. All rights reserved - Công Ty Cổ Phần Việt Nam AdenZ Travel - Mã số thuế: xxxxxx</p>
</div>
  <script src="../static/js/main.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js" integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy" crossorigin="anonymous"></script>
</body>
</html>